@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
.background {
  background-color: rgb(25, 161, 173);
  //   background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgb(25, 161, 173));
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 15px;
    width: 350px;
    height: 375px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    .block_top {
      height: 37.3%;
      border: 2px solid red;
      background-color: red;
      width: 100%;
    }
    .block_mid {
      height: 38.6%;
      border: 2px solid red;
      width: 100%;
      padding-top: 20%;
      display: block;
      span {
        display: inline;
        font-size: 0.5rem;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 400;
        .Info {
          display: inline;
        }
        h3 {
          font-size: 1rem;
          padding: 0;
          margin: 0 0 5px 0;
          font-weight: 700;
        }
      }
    }

    .block_bot {
      height: 24.1%;
      border-top: 2px solid lightgray;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
      span {
        font-size: 0.5rem;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 400;
        h3 {
          font-size: 1rem;
          padding: 0;
          margin: 0 0 5px 0;
          font-weight: 700;
        }
      }
    }
  }
}
